<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>วันลงงาน</title>
    <link rel="icon" type="image" href="/image/logo_web.png">
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

    </script>
</head>

<body>
    <header class="mt-5 sticky-top ">
        <div class="container">
            <br>
            <div class="row">
                <div class="container">
                    <div class="row" style="background-color: white;">
                        <div class="col-2 ">
                            <script>
                                console.log("Image path:", "/icon/back_icon.svg");
                            </script>
                            <a href="/user_menu"> <img src="/icon/back_icon.svg" alt="Back"></a>
                        </div>
                        <div class="col-8 text-center">
                            <h2>วันทำงาน</h2>
                            <a>วันที่ <%= username %> ได้ทำการลงงาน</a>
                        </div>
                    </div>
                </div>

                <div class="fixed-bottom d-flex justify-content-end p-3">
                    <a href="/user_schedule" id="worktimesBtn" class="btn btn-warning">ลงงาน +</a>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        <% const months=['มกราคม', 'กุมภาพันธ์' , 'มีนาคม' , 'เมษายน' , 'พฤษภาคม' , 'มิถุนายน' , 'กรกฎาคม' , 'สิงหาคม'
            , 'กันยายน' , 'ตุลาคม' , 'พฤศจิกายน' , 'ธันวาคม' ]; const groupedData=workSchedule.reduce((acc, entry)=> {
            const workDate = new Date(entry.work_date);
            const yearMonth = workDate.getFullYear() + '-' + ('0' + (workDate.getMonth() + 1)).slice(-2);
            if (!acc[yearMonth]) {
            acc[yearMonth] = [];
            }
            acc[yearMonth].push(entry);
            return acc;
            }, {});

            const sortedMonths = Object.keys(groupedData).sort((a, b) => {
            return new Date(b) - new Date(a);
            });

            sortedMonths.forEach(yearMonth => {
            const [year, monthIndex] = yearMonth.split('-').map(Number);
            const monthName = months[monthIndex - 1];
            %>
            <h3>เดือน <%= monthName %>
                    <%= year %>
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>วันลงงานที่</th>
                        <th>เวลาลงเพื่อเข้างาน</th>
                        <th>เวลาเพื่อออกงาน</th>
                        <th>วันที่ทำการลงเวลางาน</th>
                    </tr>
                </thead>
                <tbody>
                    <% groupedData[yearMonth].forEach(entry=> { %>
                        <tr>
                            <td>
                                <%= entry.work_date %>
                            </td>
                            <td>
                                <%= entry.start_time %>
                            </td>
                            <td>
                                <%= entry.end_time %>
                            </td>
                            <td>
                                <%= entry.date_his %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% }); %>
    </div>


</body>

<!-- end Content -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


</body>

</html>