<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>สถานะ</title>
    <link rel="icon" type="image" href="/image/logo_web.png">
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

    </script>


</head>

<body>
    <header class="mt-5 sticky-top" style="background-color: white;">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-2 ">
                    <script>
                        console.log("Image path:", "/icon/back_icon.svg");
                    </script>
                    <a href="/user_menu"> <img src="/icon/back_icon.svg" alt="Back"></a>
                </div>
                <div class="col-8 text-center">
                    <h2>สถานะ</h2>
                </div>
            </div>
        </div>
    </header>


    <div class="container mt-4">
        <div class="container mt-4">
            <% leaveRequests.forEach(function(leave) { %>
                <div class="card rounded-3 mb-3">
                    <div class="card-body">
                        <p>วันที่ทำรายการ <%= new Date(leave.l_timestamp).toLocaleString('th-TH') %>
                        </p>
                        <hr>
                        <p>ลาจำนวน <%= leave.q_leave_part_used %> วัน</p>
                        <p>วันที่ลา <%= new Date(leave.l_startdate).toLocaleDateString('th-TH') %> ถึง <%= new
                                    Date(leave.l_enddate).toLocaleDateString('th-TH') %>
                        </p>
                        <p>เหตุผล: <%= leave.l_reason %>
                        </p>
                        <p>สถานะการลา:
                            <% if(leave.l_status===0) { %>
                                <span class="text-warning">รออนุมัติ</span>
                                <% } else if(leave.l_status===1) { %>
                                    <span class="text-success">อนุมัติ</span>
                                    <% } else if(leave.l_status===2) { %>
                                        <span class="text-danger">ไม่อนุมัติ</span>
                                        <% } %>
                        </p>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
</body>

ิ<br>
<br>
<br>
ิ<br>

<!--- Footer--->
<footer class="footer mt-auto py-3 bg-warning fixed-bottom">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-4">
                <a href="/user_home" class="text-decoration-none text-dark d-block text-center">
                    <img src="/icon/home_icon.svg" alt="home_icon" class="d-block mx-auto mb-2">
                    <span>หน้าหลัก</span>
                </a>
            </div>
            <div class="col-4">
                <a href="/user_menu" class="text-decoration-none text-dark d-block text-center">
                    <img src="/icon/menu_icon.svg" alt="home_icon" class="d-block mx-auto mb-2">
                    <span>เมนู</span>
                </a>
            </div>
            <div class="col-4">
                <a href="/user_status" class="text-decoration-none text-dark d-block text-center">
                    <img src="/icon/status_icon_fill.svg" alt="home_icon" class="d-block mx-auto mb-2">
                    <span>สถานะ</span>
                </a>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>


</body>

</html>